@media (max-width: 1200px) {
	body {
		background-color: #181e22;
	}

	.gradient-background {
		display: none;
	}

	.container {
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
		gap: 30px;
	}

	.container .mario {
		max-width: 50%;
	}

	.container .info {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.container .description {
		color: #ffffff;
		text-align: center;
	}

	.container .trailer-button {
		background-color: #db1b2b;
	}

	@media (max-width: 500px) {
		.header {
			flex-wrap: wrap;
			justify-content: center;
			gap: 10px;
		}
	}

	.container .image-title {
		max-width: 75%;
	}

	.modal .close-modal {
		width: 30px;
		line-height: 30px;
	}

	.modal #video {
		width: 370px;
		height: 210px;
	}

	@media (max-width: 376px) {
		.modal #video {
			width: 300px;
			height: 170px;
		}
	}
}
